* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
}

.border {
  margin: 3px;
}

.container {
  height: 100vh;
}

.left {
  width: 25vw;
  height: 100vh;
  box-sizing: border-box;
}

.right {
  width: 75vw;
  height: 98.5vh;
  overflow: scroll;
  box-sizing: border-box;
  position: relative;
}

.home {
  /* height: 25vh; */
}

.Enjoy {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 130px;
}

.home ul li {
  list-style: none;
  width: 24px;
  gap: 22px;
  margin: 20px;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.invert {
  filter: invert(1);
}

.library img {
  list-style: none;
  width: 24px;
  gap: 22px;
  /* margin: 0px 5px 8px 20px; */
  margin: 16px;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.bg-grey {
  background-color: #121212;
}

.library {
  height: 80vh;
  position: relative;
}

.heading {
  display: flex;
}

.heading p {
  margin: 17px 17px 17px 10px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 20px;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: grey;
  font-size: 11px;
  font-weight: 500;
  margin: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.yourlib {
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #101010;
  /* border: 4px solid red; */
  border-bottom: 2px solid black;
  align-items: center;
}

.header > * {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.spotify-playlist {
  padding: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 600;
  /* margin-bottom: 155px; */
}

.spotify-playlist h1 {
  width: 72vw;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 72vw;
  padding-bottom: 80px;
}

.head1 {
  width: 75vw;
}

.card {
  width: 160px;
  height: 230px;
  margin-top: 18px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  background-color: rgb(29, 28, 28);
  color: grey;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.card h3 {
  font-weight: 550;
  color: white;
  position: relative;
  left: 8px;
}

.card p {
  position: relative;
  left: 8px;
}

.card img {
  width: 90%;
  object-fit: contain;
  border-radius: 6px;
  position: relative;
  left: 8px;
  z-index: 0;
  margin-bottom: 20px;
}

.card > * {
  padding-top: 3px;
}

.circle_img img {
  height: 64%;
  object-fit: cover;
}

/* .anirudh{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 65%;
} */

/* .Anirudh-img{
    width: 9.19vw;
} */

.play-button {
  position: absolute;
  right: 8px;
  top: 100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.card:hover .play-button {
  opacity: 1;
  top: 80px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(35, 32, 32);
  cursor: pointer;
}

.buttons {
}

.signup-btn {
  width: 110px;
  height: 48px;
  font-weight: 550;
  border-radius: 30px;
  background-color: #101010;
  color: rgb(193, 187, 187);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.signup-btn:hover {
  color: white;
  font-weight: 600;
  font-size: 14.5px;
}

.login-btn {
  width: 110px;
  height: 48px;
  border-radius: 30px;
  font-weight: 550;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.login-btn:hover {
  font-weight: 600;
  font-size: 15px;
}

.playbar {
  position: fixed;
  bottom: 25px;
  right: 23px;
  background-color: white;
  width: calc(75vw - 34px);
  padding: 6px;
  filter: invert(1);
  background-color: #f2dddd;
  border-radius: 10px;
  min-height: 40px;
}

.songbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  /* position: fixed;
    right: 46.5%; */
}

.range input {
  color: red;
  cursor: pointer;
}

.volume {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  /* border: 2px solid green; */
  color: blue;
  cursor: pointer;
}

.songinfo,
.songtime {
  width: 434px;
}

.songtime {
  display: flex;
  justify-content: end;
}

.songlist li {
  padding: 2px;
  border-bottom: 1px solid #121212;
}

.hameburger {
  display: none;
}

.hameburgericon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.close img {
  display: none;
}

.songlist {
  height: 54vh;
  overflow: auto;
  /* border: 3.4px solid #000000; */
  border-radius: 4px;
  /* background-color: #5e5b5b; */
}

.songlist ul li {
  list-style: decimal;
  display: flex;
  /* gap: 34px; */
  cursor: pointer;
  /* padding: 10px 0; */
  align-items: center;
  border: 2px solid white;
  margin: 12px 0;
  border-radius: 5px;
  /* padding: 5px; */
  position: relative;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
}

.songlist .playnow img {
  margin: 12px;
}

.playnow span {
  font-size: 12px;
  /* padding: 12px; */
}

.playnow {
  position: absolute;
  right: 10px;
  z-index: 0;
}

.info {
  width: 210px;
  overflow: hidden;
  font-size: 13px;
}

.info div {
  word-break: break-all;
}

.speaker {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  width: 434px;
}

.seekbar {
  height: 2px;
  width: 99%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 4px;
  border-radius: 10px;
  margin: 1px;
  cursor: pointer;
  height: 3.5px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 13px;
  position: absolute;
  top: -3px;
  left: 0%;
  transform: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
}

.songinfo,
.songtime {
  padding: 8px 0;
  color: black;
}

.abovebar {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  * {
    padding-bottom: 5px;
  }
  .left {
    position: absolute;
    left: -110%;
    transition: all 0.5s;
    z-index: 1;
    width: 333px;
    background-color: #000000;
  }

  .left .close {
    position: absolute;
    right: 15px;
    top: 25px;
  }

  .circle_img img {
    height: 75%;
  }

  .card {
    width: 394px;
    height: 500px;
    /* border: 2px solid red; */
  }

  .card img {
    margin-left: 12px;
  }

  .close img {
    width: 44px;
    display: block;
  }

  .right {
    width: 100vw;
  }

  .cardContainer {
    height: 73vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid green; */
  }

  .playbar {
    /* align-items: center; */
    width: calc(100vw - 41px);
    bottom: 12px;
    left: 28px;
  }

  .songinfo,
  .songtime {
    width: auto;
    margin: 5px;
  }

  .speaker {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .volume {
    margin-bottom: 13px;
  }

  .abovebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seekbar {
    /* width: 96.5%; */
    width: calc(95.5vw +7px);
  }

  .buttons {
    width: 225px;
    /* border: 2px solid green; */
  }

  .hameburger {
    display: block;
  }
}

@media (max-width: 500px) {
  .left {
    left: -139%;
  }

  .header > * {
    padding: 2px;
  }

  .cardContainer {
    /* height: auto; */
  }
}

@media (max-width: 350) {
  .header > * {
    width: 165px;
  }
}
